<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="../js.js"></script>
    <title>Info Produk</title>
</head>
<body>

<div th:replace="header :: header"></div>
<div class="container">

    <div class="row">
        <div class="col-sm-8 col-md-1 col-xs-8">
            <ul class="image-detail">
                <li><img src="https://dummyimage.com/50x50/b337b3/0b19db.png" alt="" /></li>
                <li><img src="https://dummyimage.com/50x50/b337b3/0b19db.png" alt="" /></li>
                <li><img src="https://dummyimage.com/50x50/b337b3/0b19db.png" alt="" /></li>
            </ul>
        </div>

        <div class="col-sm-8 col-md-4">
            <img class="image-produk" th:src="'/images/' + ${product.getImagePath()}" />
        </div>
        <div class="col-sm-8 col-md-4">
            <div class="caption">
                <h2 th:text="${product.getName()}" class="product-detail-title">Buku</h2>
                <h4>Harga: Rp. <span th:text="${product.getPrice()}"></span></h4>
                <h4>Minimal Quantity: <span th:text="${product.getMinimalQuantity()}"></span></h4>
                <h4>By: <span th:text="${product.getSupplier().getName()}"></span></h4>
                <p th:text="${product.getDescription()}">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <!-- <p><a href="#">Details...</a></p> -->
                <!-- <a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a> -->
            </div>
        </div>
        <div class="col-sm-8 col-md-3">
            <div class="thumbnail">
                <form class="form-horizontal" th:action="@{/cart/add}" enctype="multipart/form-data" method="post">
                <!--<form class="form-horizontal" th:action="@{/products/addToCart}" enctype="multipart/form-data" method="post">-->
                    <input th:value="${product.getId()}" th:name="productId" readonly="readonly" class="hidden"/>
                    <p>Jumlah: </p>
                    <input type="number" placeholder="Quantity" id="quantity" th:name="quantity"/>
                    <button type="submit" class="btn btn-primary">Buy Now!</button>
                </form>

                <!-- alt="..." -->
                <!-- <img src="http://3.bp.blogspot.com/-5EtAyOSCNjc/UWiDnJl7ONI/AAAAAAAABb4/rsnD8_cXZsM/s640/cover_komik_naruto_vol_64_narutolovindo.png"> -->
            </div>



        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-sm-8 col-md-8">
            <h2>Deskripsi</h2>
            <p th:text="${product.getDescription()}">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>

            <hr />
            <h2>Comment</h2>
            <form th:action="@{/products/comment}" enctype="multipart/form-data" method="post" role="form">
                <p>Comment :</p>
                <div class="form-group">
                    <!--<label class="control-label" for="description">AddComment :</label>-->
                    <div style="display: none;">
                        <!--<input type="text" placeholder="Name" id="name" th:field="*{name}" />-->

                        <input type="text" id="id" name="id" th:value="${product.getId()}" />
                    </div>
                    <div>
                        <textarea class="form-control" rows="5" id="text" name="text"></textarea>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
            <br />
            <div th:each="comment: ${comments}">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <h6>
                            Pengulas:
                        </h6>
                        <span th:text="${comment.getCommentator().getName()}"></span>
                        <p>
                            * * * * * rating
                        </p>

                    </div>
                    <div class="col-sm-8 col-md-6" >
                        <h6>Comment: </h6>
                        <p th:text="${comment.text}">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
                <div th:if="${session.user.getId() == comment.getCommentator().getId()}">
                    <a th:href="@{/products/deleteComment(id=${comment.getId()})}">Delete</a>
                </div>
                <hr />
            </div>
            <!--<div class="row">-->
                <!--<div class="col-sm-4 col-md-4">-->
                    <!--<p>-->
                        <!--* * * * *-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--oleh pengulas-->
                    <!--</p>-->

                <!--</div>-->
                <!--<div class="col-sm-8 col-md-6">-->

                    <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col-sm-4 col-md-4">-->
                    <!--<p>-->
                        <!--* * * * *-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--oleh pengulas-->
                    <!--</p>-->

                <!--</div>-->
                <!--<div class="col-sm-8 col-md-6">-->

                    <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.-->
                <!--</div>-->
            <!--</div>-->


        </div>


        <div class="col-sm-6 col-md-4">
            <h3>RELATED PRODUCT</h3>
            <div th:each="prod : ${relatedProducts}">
                <!--<div th:if="${prod.getId() == product.getId()}">-->

                <!--</div>-->
                <div th:unless="${prod.getId() == product.getId()}">
                    <div class="thumbnail">
                        <img th:src="@{'/images/' + ${prod.imagePath}}" alt="" />
                        <div class="caption">
                            <h3 th:text="${prod.getName()}">Feature Label</h3>
                            <p>Price: <span th:text="${prod.getPrice()}"></span></p>
                            <!--<p>Starting price : <span>Rp. 5000</span></p>-->
                            <p>Minimal Quantity : <span th:text="${prod.getMinimalQuantity()}">100</span></p>
                            <p>By: <span th:text="${prod.getSupplier().getName()}"></span></p>
                            <p>
                                <!--<a href="#" class="btn btn-primary">add to Cart</a> -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" th:attr="data-target='#myModal'+${prod.getId()}" >Buy !</button>
                                <a th:href="@{/products/detail(id=${prod.getId()})}" class="btn btn-default">More Info</a>
                            </p>
                            <div class="modal fade" th:id="'myModal' + ${prod.getId()}" role="dialog">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title" th:text="${prod.getName()}"></h4>
                                            <!--<h4 class="modal-title">Coba</h4>-->
                                        </div>
                                        <form class="form-horizontal" th:action="@{/cart/add}" enctype="multipart/form-data" method="post">
                                            <input th:value="${prod.getId()}" th:name="productId" readonly="readonly" class="hidden"/>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label class="control-label">Jumlah: </label>
                                                    <input type="number" th:name="quantity" placeholder="Quantity" id="quantity" />
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-default">Buy</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="thumbnail">-->
                <!--<img src="http://placehold.it/800x500" alt="" />-->
                <!--<div class="caption">-->
                    <!--<h3>Feature Label</h3>-->
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
                    <!--<p>-->
                        <!--<a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>-->
                    <!--</p>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>

<div th:replace="footer :: footer"></div>

</body>
</html>