<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Title</title>
</head>
<body>
    <div class="container">
        <form th:action="@{/products}" th:object="${form}" method="post">
            <div>
                <input type="text" placeholder="Name" id="name" th:field="*{name}" />
            </div>
            <div>
                <input type="number" placeholder="Price" id="price" th:field="*{price}" />
            </div>
            <div>
                <input type="number" placeholder="Minimal Quantitiy" id="minimalQuantity" th:field="*{minimalQuantity}" />
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>