<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Add Product</title>
</head>
<body>
<div th:replace="header :: header"></div>


<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form class="form-horizontal" th:action="@{/products}" th:object="${form}" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <label class="control-label col-sm-6">Nama Barang: </label>
                    <div class="col-sm-6">
                        <input type="text" placeholder="Name" id="name" th:field="*{name}" />
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-6">Harga Barang: </label>
                    <div class="col-sm-6">
                        <input type="number" placeholder="Price" id="price" th:field="*{price}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-6">Jumlah Minimum Pemesanan: </label>
                    <div class="col-sm-6">
                        <input type="number" placeholder="Minimal Quantitiy" id="minimalQuantity" th:field="*{minimalQuantity}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-6">Treshold 1: </label>
                    <div class="col-sm-6">
                        <span>At Quantity </span> <input type="number" placeholder="quantity 1" id="treshold1" th:field="*{treshold1}"/>
                        <br />
                        <span>Price </span> <input type="number" placeholder="price 1" id="price1" th:field="*{price1}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-6">Treshold 2: </label>
                    <div class="col-sm-6">
                        <span>At Quantity </span> <input type="number" placeholder="quantity 2" id="treshold2" th:field="*{treshold2}"/>
                        <br />
                        <span>Price </span> <input type="number" placeholder="price 2" id="price2" th:field="*{price2}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-6">Treshold 3: </label>
                    <div class="col-sm-6">
                        <span>At Quantity </span> <input type="number" placeholder="quantity 3" id="treshold3" th:field="*{treshold3}"/>
                        <br />
                        <span>Price </span> <input type="number" placeholder="price 3" id="price3" th:field="*{price3}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-6">Kategori :</label>
                    <select class="selectpicker" th:field="*{category}">
                        <option th:each="category : ${T(com.LabaLaba.entity.Category).values()}"
                                th:value="${category}"
                                th:text="${category}">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-6">Gambar:</label>
                    <div class="col-sm-6">
                        <input type="file" name="file" th:field="*{file}"/>
                    </div>
                </div>
                <!--<div class="form-group">-->
                    <!--<label class="control-label col-sm-6" for="category">Kategori:</label>-->
                    <!--<div class="col-sm-6">-->
                        <!--<select class="form-control" id="category">-->
                            <!--<option>Electronic</option>-->
                            <!--<option>Furniture</option>-->
                            <!--<option>Textile</option>-->
                            <!--<option>Machinery Industrial</option>-->
                            <!--<option>Gift</option>-->
                            <!--<option value="">Health and Beauty</option>-->
                            <!--<option value="">Agriculture and Food</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="form-group">
                    <label class="control-label col-sm-6" for="description">Description :</label>
                    <div class="col-sm-6">
                        <textarea class="form-control" rows="5" id="description" th:field="*{description}"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6 control-label">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>

    <div th:replace="footer :: footer"></div>

</body>
</html>
