<!DOCTYPE html>
<html lang="en" xmlns:th="htttp://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script th:src="@{/js.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css.css}" />
    <title>LabaLaba.com</title>
</head>
<body>
<div th:replace="header :: header"></div>
<section class="container">
<div class="alert alert-danger">
    <strong>Fail!</strong> Your Order is Less than Minimal Quantity
    <a th:href="${link}" class="btn btn-primary">Back</a>
</div>

</section>
<div th:replace="footer :: footer"></div>
</body>
</html>