<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css.css" th:href="@{/css.css}" />
    <title>Header</title>
</head>
<body>
<header th:fragment="header" style="padding: 0px;">
    <div class="container">
        <!--<div class="row container">-->
        <!--<nav class="col-xs-4 col-md-5 text-right">-->
        <!--<div class="input-group stylish-input-group col-md-8">-->
        <!--<input type="text" class="form-control"  placeholder="Search" />-->
        <!--<span class="input-group-addon">-->
        <!--<button type="submit">-->
        <!--<span class="glyphicon glyphicon-search"></span>-->
        <!--</button>-->
        <!--</span>-->
        <!--</div>-->
        <!--<p th:if="${session.loggedIn}">-->
        <!--<span th:text="${session.role}"></span>-->

        <!--<span th:switch="${session.role}">-->
        <!--<span th:case="'supplier'"> <a href="/supplier/profile" th:text="${session.user.name}"></a></span>-->
        <!--<span th:case="*"><span th:text="${session.user.name}"></span></span>-->
        <!--</span>-->
        <!--&lt;!&ndash;<span th:text="${session.user.name}"></span>&ndash;&gt;-->
        <!--<span>, </span>-->
        <!--<a href="/customer/logout"> Log Out</a>-->
        <!--</p>-->
        <!--<p th:unless="${session.loggedIn}">-->
        <!--<a href="/customer/login">Log in</a>-->
        <!--&lt;!&ndash;<a href="/customer/register">Register</a>&ndash;&gt;-->
        <!--</p>-->
        <!--</nav>-->
        <!--</div>-->
        <!--<br />-->
        <div class="row pull-left">
            <div style="padding-bottom: 0; padding-top: 0;">
                <a href="/"> <img src="/images/labalaba.png" alt="Labalaba" width="130" height="130" style="padding: 0; margin: 0;"/> </a>
            </div>
        </div>
        <br />
        <div class="row pull-right">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                <p th:if="${session.loggedIn}" class="pull-right" style="margin-top:5px;">
                    <span th:text="${session.role}"></span>
                    <span th:switch="${session.role}">
                        <span th:case="'supplier'"> <a href="/supplier/profile" th:text="${session.user.name}"></a></span>
                        <span th:case="*"><span th:text="${session.user.name}"></span></span>
                    </span>
                    <!--<span th:text="${session.user.name}"></span>-->
                    <span>, </span>
                    <a href="/customer/logout" style="padding-top: 5px;"> Log Out</a>
                </p>
                <p th:unless="${session.loggedIn}" class="pull-right" style="margin-top:2px">
                    <a href="/customer/login" style="padding-top: 5px;">Log in</a>
                    <!--<a href="/customer/register">Register</a>-->
                </p>
            </div>

        </div>
        <br />
        <br />

        <div class="row">
            <div class="pull-right">
                <div class="col-md-4 col-sm-3 pull-right">
                    <!--<form th:action="@{/products/search}" method="get" role="form">-->
                        <!--<input type="text" class="form-control" placeholder="Search" id="keyword" name="keyword"/>-->
                        <!--<span class="input-group-addon"></span>-->
                        <!--<button type="submit">-->
                            <!--<span class="glyphicon glyphicon-search"></span>-->
                        <!--</button>-->
                    <!--</form>-->
                    <form th:action="@{/products/search}" method="get" role="form">
                        <div class="input-group stylish-input-group">
                            <input type="text" class="form-control" placeholder="Search" id="keyword" name="keyword"/>
                            <span class="input-group-addon">
                                <button type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                    <!--<div class="input-group stylish-input-group">-->
                        <!--<input type="text" class="form-control"  placeholder="Search" />-->
                        <!--<span class="input-group-addon">-->
                        <!--<button type="submit">-->
                            <!--<span class="glyphicon glyphicon-search"></span>-->
                        <!--</button>-->
                    <!--</span>-->
                    <!--</div>-->
                </div>
            </div>

        </div>
        <div class="row pull-left">
            <nav>
                <div class="dropdown pull-left">
                    <p class="pointer" data-toggle="dropdown">Categories
                        <span class="caret"></span></p>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Categories</li>
                        <li><a href="/products/kategori?nama=Electronic">Electronic</a></li>
                        <li><a href="/products/kategori?nama=Furniture">Furniture</a></li>
                        <li><a href="/products/kategori?nama=Food">Agriculture and Food</a></li>
                        <li><a href="/products/kategori?nama=Textile">Textile</a></li>
                        <li><a href="/products/kategori?nama=Machine">Machinary Industrial</a></li>
                        <li><a href="/products/kategori?nama=Gift">Gift</a></li>
                        <li><a href="/products/kategori?nama=Health">Health and Beuty</a></li>
                        <!--<li><a href="#">Health & Beauty</a></li>-->
                        <!--<li><a href="#">Agriculture & Food</a></li>-->
                        <!-- <li class="divider"></li>
              <li class="dropdown-header">Dropdown header 2</li>
              <li><a href="#">About Us</a></li> -->
                    </ul>
                </div>

                <p>
                    Hot Items
                </p>
                <p>
                    Contact
                </p>
                <p>
                    <a href="/supplier/register">Want to become a Merchant?</a>
                </p>
                <div class="dropdown" th:if="${session.role eq 'customer'}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-shopping-cart"></span> x items<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-cart" role="menu">
                        <li th:each="cartItem : ${cart}">
                                <span class="item">
                                    <span class="item-left">
                                        <img th:src="'/images/' + ${cartItem.product.getImagePath()}"  src="http://lorempixel.com/50/50/" alt="" style="width: auto; height: auto; max-width: 50px; max-height: 50px;"/>
                                        <span class="item-info">
                                            <span th:text="${cartItem.product.getName()}">Item Name</span>
                                            <span th:text="${cartItem.getQuantity()}">details</span>
                                        </span>
                                    </span>
                                    <span class="item-right">
                                        <form th:action="@{/cart/delete}" method="post">
                                            <input readonly="readonly" th:name="cartItemId" th:value="${cartItem.getId()}"  class="hidden"/>
                                            <button type="submit" class="btn btn-xs btn-danger pull-right">x</button>
                                        </form>
                                    </span>
                                </span>

                        </li>
                        <a th:href="@{/cart/checkout}" class="btn btn-primary">CheckOut</a>
                        <!--<button type="button" class="btn btn-default">checkout</button>-->
                    </ul>
                </div>
                <!--<ul>-->
                <!--<li class="dropdown">-->
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">-->
                <!--<span class="glyphicon glyphicon-shopping-cart"></span> x items<span class="caret"></span>-->
                <!--</a>-->
                <!---->
                <!--</li>-->
                <!--</ul>-->

            </nav>
        </div>




    </div>
    <hr style="margin-top:0px"/>
</header>


</body>
</html>