<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../js.js"></script>
    <title>Checkout</title>
</head>

<body>
<div th:replace="header :: header"></div>
<div class="container">
    <h3>Cart</h3>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Minimal Quantity</th>
            <th>Your Order Quantity</th>
            <th>Date</th>
            <th>Supplier</th>
            <th>Price After Treshold</th>
            <th>Total Price</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody th:each="cartItem : ${cart}">
        <tr>
            <td><img th:src="'/images/' + ${cartItem.product.getImagePath()}"  src="http://lorempixel.com/50/50/" alt="" style="width: auto; height: auto; max-width: 50px; max-height: 50px;"/></td>
            <td th:text="${cartItem.product.getName()}">Item Name</td>
            <td th:text="${cartItem.product.getCategory()}">Cateogry</td>
            <td th:text="${cartItem.product.getPrice()}">Price</td>
            <td th:text="${cartItem.product.getMinimalQuantity()}">Minimal</td>
            <td th:text="${cartItem.quantity}">Order Quantity</td>
            <td>Date</td>
            <td th:text="${cartItem.product.getSupplier().getName()}">Supp</td>
            <td>Price After Treshold</td>
            <td>Total Price</td>
            <td><a href="#" class="btn btn-xs btn-danger">x</a></td>
        </tr>
        </tbody>
    </table>

    <div class="pull-right">
        <a href="#" class="btn btn-primary">Purchase</a>
    </div>
</div>
<div th:replace="footer :: footer"></div>
</body>

</html>